<section
  class="banner position-relative awl-info"
  style="background-image:url('img/map-white.png')"
>
  <div class="banner__content text-center position-absolute">
    <div class="container">
      <img src="img/awl-logo.svg" />
      <h3 class="mt-3">
        In 2017, ICS Robotics became part of Global Automation Giant AWL
      </h3>
      <p>
        Working with our clients to better their business - by becoming more
        profitable, safer, effecient and productive. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.
      </p>
      <button type="button" class="btn btn-outline-secondary mt-4 mb-4">
        Find Out More
      </button>
    </div>
  </div>
</section>
