<section class="benefit-selection">
  <div class="container container--oversize">
    <div class="row py-5">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6 benefit-selection__item">
            <a href="#">
              <div style="background-image:url('img/case-study-1.jpg')">
                <i class="fas fa-arrow-right"></i>
              </div>
              <h3>Relevant Case Study supporting the above.</h3>
            </a>
          </div>
          <div class="col-12 col-md-6 benefit-selection__item">
            <a href="#">
              <div style="background-image:url('img/case-study-2.jpg')">
                <i class="fas fa-arrow-right"></i>
              </div>
              <h3>Relevant Case Study supporting the above.</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
