<footer class="footer">
  <section class="copyright container align-items-center text-light">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <p>
          <a href="#" class="text-light">Home</a> |
          <a class="text-light" href="#">Solutions</a> |
          <a class="text-light" href="#">Who We Work With</a> |
          <a class="text-light" href="#">The Company</a> |
          <a class="text-light" href="#">Contact Us</a>
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 text-center">
        <p class="text-light small">
          Units 2&3 Chancerygate Business Centre, Manor House Avenue, Millbrook,
          Southampton, Hampshire SO15 0AE<br />
          &copy 2019 ICS Robotics |
          <a href="#" class="text-light">Site Map</a> |
          <a class="text-light" href="#">Contact Us</a>
        </p>
      </div>
    </div>
  </section>
</footer>
