<section class="gallery gallery--thumbnails">
        <div class="container container--oversize">
          <div class="nav left">
              <i class="fas fa-arrow-left"></i>
          </div>
          <div class="nav right">
              <i class="fas fa-arrow-right"></i>
          </div>
          <div class="row">

             


            <div
              class="col-6 col-md mb-4 mb-md-0 gallery__thumbnail"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              <div>
                <a
                  href="#"
                  style="background-image:url('img/gallery-1.jpeg')"
                  data-target="#carouselExample"
                  data-slide-to="0"
                  ><span>Quality Control</span></a
                >
              </div>
            </div>
            <div
              class="col-6 col-md mb-4 mb-md-0 gallery__thumbnail"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              <div>
                <a
                  href="#"
                  style="background-image:url('img/gallery-2.jpg')"
                  data-target="#carouselExample"
                  data-slide-to="1"
                  ><span>Quality Control</span></a
                >
              </div>
            </div>
            <div
              class="col-6 col-md mb-4 mb-md-0 gallery__thumbnail"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              <div>
                <a
                  href="#"
                  style="background-image:url('img/gallery-3.jpg')"
                  data-target="#carouselExample"
                  data-slide-to="2"
                  ><span>Quality Control</span></a
                >
              </div>
            </div>
            <div
              class="col-6 col-md mb-4 mb-md-0 gallery__thumbnail"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              <div>
                <a
                  href="#"
                  style="background-image:url('img/gallery-4.jpg')"
                  data-target="#carouselExample"
                  data-slide-to="3"
                  ><span>Quality Control</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Carousel markup goes in the modal body -->

              <div
                id="carouselExample"
                class="carousel slide"
                data-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="img/placeholder.jpg" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="img/placeholder.jpg" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="img/placeholder.jpg" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="img/placeholder.jpg" />
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#carouselExample"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#carouselExample"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>