<section class="get-in-touch py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-5">
        <h2>Get In Touch</h2>
        <p>
          Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
          impedit quo minus id.
        </p>
        <div class="contact-item">
          <p>
            <i class="fas fa-phone mr-3"></i>
            Live chat
          </p>
          <p>
            <i class="fas fa-comments mr-3"></i>
            02380 123456
          </p>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-md-6">
                <label for="exampleFormControlInput1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                />
              </div>
              <div class="col-12 col-md-6">
                <label for="exampleFormControlInput1">Full Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Enquiry</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-outline-light">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</section>
