<header class="header b-top" role="header" id="site-header">
  <div class="container">
    <nav class="nav">
      <a href="index.html" class="logo">
        <img src="img/logo.jpg" />
      </a>
      <div class="main-menu d-none d-lg-block" id="main-menu">
        <ul>
          <li>
            <a href="solution.html">
              <span>Our Solutions</span>
            </a>
            <ul>
              <li>
                <a href="#">
                  <span>Sub Page #1</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Sub Page #1</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span>Our Work</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span>Our Company</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Blog</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Get In Touch</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="burger d-lg-none" id="burger">
        <span>
          <i class="fas fa-bars"></i>
        </span>
      </div>
    </nav>
  </div>
</header>
