.gallery {
    &--thumbnails {
        margin:2rem 0 5rem;
        .container {
          padding-left:3rem;
          padding-right:3rem;
          position:relative;
          .nav {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            color:$ics-red;
            &.left {
              left:16px;
              
            }
            &.right {
              right:16px;
            }
          }
        }
    }
    &__thumbnail {
      > div {
        a {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          display:block;
          span {
              position:absolute;
              top:50%;
              left:50%;
              pointer-events: none;
              transform:translate(-50%,-50%);
              display:none;
          }
          &:after {
            padding-top: 56.25%;
            display: block;
            width: 100%;
            content: "";
            
          }
          &:hover {
            opacity:0.9;
          }

        }
      }
    }
  }
  