.nav {
  display: flex;
  justify-content: flex-end;
}

.header {
  z-index: 100;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    height: $header-height;
    @media (max-width: $md-max) {
      max-width: 100%;
      padding: 0;
    }
  }
}

.logo {
  mix-blend-mode: multiply;
  height: $header-height;
  padding: 1rem;
  margin-right: auto;
  display: block;
  img {
    height: 100%;
    width: auto;
  }
}

.main-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        display: block;
        color: $ics-blue;
        &:hover {
          text-decoration: none;
          color: $ics-red;
        }
        span {
          font-family: 'Roboto', sans-serif;
          display: block;
        }
      }
    }
  }
  > ul {
    display: flex;

    > li {
      position: relative;
      > a {
        line-height: $header-height;
        display: block;
        padding: 0 1rem;
        text-decoration: none;

        span {
          text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 700;
        }

        &:hover {
          text-decoration: none;
          color: $ics-red;
        }
      }
      > ul {
        display: none;
        position: absolute;
        background: $ics-grey;
      }
      &:hover {
        > ul {
          display: block;
          width: 10rem;
          li {
            a {
              span {
                line-height: 3rem;
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }
  }
}

.burger {
  span {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    width: $header-height;
    height: $header-height;
    font-size: 2rem;
    color: $ics-blue;
    &:hover {
      background: $ics-grey;
      color: $ics-red;
    }
  }
}
