.banner,
.hero {
  width: 100vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &__content {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
  }
  &__title {
    display: block;
    font-size: 2rem;
    @media (min-width: $md) {
      font-size: 4rem;
      line-height: 5rem;
    }
    font-weight: 700;
  }
  &.with-fade {
    &:after {
      z-index: 0;
      width: 100%;
      height: 100%;
      @include gradient(rgba($black, 0), rgba($black, 0.5), "down");
      content: "";
      display: block;
    }
  }
}

.banner {
  height: 50vh;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &__sub-title {
    display: block;
    font-size: 1.25rem;
    margin-top: 0;

    @media (min-width: $md) {
      font-size: 1.5rem;
    }
  }
}

.benefit-selection {
  &__item {
    margin-bottom: 32px;
    h3 {
      font-size: 1.2rem;
      line-height: 2.5rem;
      display: block;
    }
    > a {
      text-decoration: none;
      &:hover {
        color: $ics-blue;
      }
      > div {
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        position: relative;
        overflow: hidden;
        i {
          position: absolute;
          top: 50%;
          left: -50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          color: $white;
          font-size: 3rem;
          line-height: 3rem;
          transition: left 0.5s ease;
        }
        &:after {
          padding-top: 56.25%;
          display: block;
          width: 100%;
          z-index: 0;
          position: relative;
          content: "";
        }
        &:hover {
          &:after {
            background-color: rgba($ics-blue, 1);
          }
          i {
            left: 50%;
          }
        }
      }
    }
  }
}

.get-in-touch {
  @include gradient($ics-grey-50,$ics-grey-75);
  * {
    color:$white;
  }
}

.icon-ctas {
  .icon {
    font-size:3.5rem;
    line-height:6rem;
    width:6rem;
    text-align:center;
    margin:0px auto;
    color:$white;
    display:block;
    position:relative;
    i {
      position:relative;
      z-index:10;
    }
    &:after {
      position:absolute;
      top:50%;
      left:50%;
      width:100%;
      height:100%;
      background:$ics-blue;
      content:"";
      border-radius:0.5rem;
      z-index:0;
      transform:translate(-50%,-50%) rotate(45deg);
    }
  }
  h4 {
    color:$ics-blue;
    font-size:1.25rem;
    margin-top:2.5rem;
  }
}

.tagline-quote {
 
  h2 {
    margin: 0;
    color: $white;
    font-size:3rem;
  }
  @include gradient($ics-blue, $ics-blue);
  .container {
    padding:6rem 0;
    position: relative;
    z-index:0;
    .row {
      position: relative;
      z-index:4;
    }
  }
  .robot-arm {
    position: absolute;
    left: -100px;
    bottom: -100px;
    background-repeat:no-repeat;
    height: 100%;
    background-size: auto 100%;
    background-position: left bottom;
    width:100%;
    z-index:0;
    transform:rotate(10deg);
  }
}

.awl-info {
  margin: 2rem 0;
  height: 70vh;
  background-size: auto 100%;
  h1,h2,h3,h4,h5,h6 {
    color:$ics-grey-75;
  }
  img {
    width: 300px;
  }
}

.white-gradient-bg {
  @include gradient($white, $ics-grey);
}

.b-top {
  border-top: 0.175rem solid $ics-blue;
}

