@mixin gradient($left, $right, $direction: "left") {
  @if direction == "diagonal" {
    background: -moz-linear-gradient(-45deg, $left 0%, $right 100%);
    background: -webkit-linear-gradient(-45deg, $left 0%, $right 100%);
    background: linear-gradient(135deg, $left 0%, $right 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
  }
  @if $direction == "left" {
    background: $left;
    background: -moz-linear-gradient(left, $left 0%, $right 100%);
    background: -webkit-linear-gradient(left, $left 0%, $right 100%);
    background: linear-gradient(to right, $left 0%, $right 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
  }
  @if $direction == "down" {
    background: $left;
    background: -moz-linear-gradient(top, $left 0%, $right 100%);
    background: -webkit-linear-gradient(top, $left 0%, $right 100%);
    background: linear-gradient(to bottom, $left 0%, $right 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=2 );
  }
  @if $direction == "up" {
    background: $left;
    background: -moz-linear-gradient(bottom, $left 0%, $right 100%);
    background: -webkit-linear-gradient(bottom, $left 0%, $right 100%);
    background: linear-gradient(to top, $left 0%, $right 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=2 );
  }
}
