body {
  font-family: "Noto Sans", sans-serif;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color:$ics-blue;
}

.btn,
button {
  font-family: "Noto Sans", sans-serif;
}
.regular,
p,
li,
a,
div {
  color: $body-text;
}

p {
  color: $body-text;
}

a {
  color: $ics-grey-50;
}
