$header-height: 5rem;

//THEME COLOURS
$ics-red:#f90101;
$ics-blue:#0b2d84;

//LIGHTEST GREY
$ics-grey:#e7e7e7;

//MID GREYS
$ics-grey-25:#ebece6;
$ics-grey-50:#707173;

//DARKEST GREY
$ics-grey-75:#606060;

$ics-grey-blue:#DFE9EA;


$body-text:$ics-grey-75;

//COLOURS
$black:#111;
$white:#fefefe;

//BREAKPOINTS FROM BOOSTRAP
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

$xs-max:575px;
$sm-max:767px;
$md-max:991px;
$lg-max:1199px;