@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,700&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #0b2d84;
}

.btn,
button {
  font-family: "Noto Sans", sans-serif;
}

.regular,
p,
li,
a,
div {
  color: #606060;
}

p {
  color: #606060;
}

a {
  color: #707173;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header {
  z-index: 100;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header .container {
  height: 5rem;
}

@media (max-width: 991px) {
  .header .container {
    max-width: 100%;
    padding: 0;
  }
}

.logo {
  mix-blend-mode: multiply;
  height: 5rem;
  padding: 1rem;
  margin-right: auto;
  display: block;
}

.logo img {
  height: 100%;
  width: auto;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu ul li a {
  display: block;
  color: #0b2d84;
}

.main-menu ul li a:hover {
  text-decoration: none;
  color: #f90101;
}

.main-menu ul li a span {
  font-family: 'Roboto', sans-serif;
  display: block;
}

.main-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu > ul > li {
  position: relative;
}

.main-menu > ul > li > a {
  line-height: 5rem;
  display: block;
  padding: 0 1rem;
  text-decoration: none;
}

.main-menu > ul > li > a span {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
}

.main-menu > ul > li > a:hover {
  text-decoration: none;
  color: #f90101;
}

.main-menu > ul > li > ul {
  display: none;
  position: absolute;
  background: #e7e7e7;
}

.main-menu > ul > li:hover > ul {
  display: block;
  width: 10rem;
}

.main-menu > ul > li:hover > ul li a span {
  line-height: 3rem;
  padding: 0 1rem;
}

.burger span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  padding: 0;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  color: #0b2d84;
}

.burger span:hover {
  background: #e7e7e7;
  color: #f90101;
}

.footer {
  background: #707173;
  background: -webkit-gradient(linear, left top, right top, from(#707173), to(#606060));
  background: linear-gradient(to right, #707173 0%, #606060 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
}

.social-media-links a {
  font-size: 2rem;
}

.banner,
.hero {
  width: 100vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner__content,
.hero__content {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.banner__title,
.hero__title {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .banner__title,
  .hero__title {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.banner.with-fade:after,
.hero.with-fade:after {
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0)), to(rgba(17, 17, 17, 0.5)));
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=2 );
  content: "";
  display: block;
}

.banner {
  height: 50vh;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero__sub-title {
  display: block;
  font-size: 1.25rem;
  margin-top: 0;
}

@media (min-width: 768px) {
  .hero__sub-title {
    font-size: 1.5rem;
  }
}

.benefit-selection__item {
  margin-bottom: 32px;
}

.benefit-selection__item h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
  display: block;
}

.benefit-selection__item > a {
  text-decoration: none;
}

.benefit-selection__item > a:hover {
  color: #0b2d84;
}

.benefit-selection__item > a > div {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  overflow: hidden;
}

.benefit-selection__item > a > div i {
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  color: #fefefe;
  font-size: 3rem;
  line-height: 3rem;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.benefit-selection__item > a > div:after {
  padding-top: 56.25%;
  display: block;
  width: 100%;
  z-index: 0;
  position: relative;
  content: "";
}

.benefit-selection__item > a > div:hover:after {
  background-color: #0b2d84;
}

.benefit-selection__item > a > div:hover i {
  left: 50%;
}

.get-in-touch {
  background: #707173;
  background: -webkit-gradient(linear, left top, right top, from(#707173), to(#606060));
  background: linear-gradient(to right, #707173 0%, #606060 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
}

.get-in-touch * {
  color: #fefefe;
}

.icon-ctas .icon {
  font-size: 3.5rem;
  line-height: 6rem;
  width: 6rem;
  text-align: center;
  margin: 0px auto;
  color: #fefefe;
  display: block;
  position: relative;
}

.icon-ctas .icon i {
  position: relative;
  z-index: 10;
}

.icon-ctas .icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #0b2d84;
  content: "";
  border-radius: 0.5rem;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.icon-ctas h4 {
  color: #0b2d84;
  font-size: 1.25rem;
  margin-top: 2.5rem;
}

.tagline-quote {
  background: #0b2d84;
  background: -webkit-gradient(linear, left top, right top, from(#0b2d84), to(#0b2d84));
  background: linear-gradient(to right, #0b2d84 0%, #0b2d84 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
}

.tagline-quote h2 {
  margin: 0;
  color: #fefefe;
  font-size: 3rem;
}

.tagline-quote .container {
  padding: 6rem 0;
  position: relative;
  z-index: 0;
}

.tagline-quote .container .row {
  position: relative;
  z-index: 4;
}

.tagline-quote .robot-arm {
  position: absolute;
  left: -100px;
  bottom: -100px;
  background-repeat: no-repeat;
  height: 100%;
  background-size: auto 100%;
  background-position: left bottom;
  width: 100%;
  z-index: 0;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.awl-info {
  margin: 2rem 0;
  height: 70vh;
  background-size: auto 100%;
}

.awl-info h1, .awl-info h2, .awl-info h3, .awl-info h4, .awl-info h5, .awl-info h6 {
  color: #606060;
}

.awl-info img {
  width: 300px;
}

.white-gradient-bg {
  background: #fefefe;
  background: -webkit-gradient(linear, left top, right top, from(#fefefe), to(#e7e7e7));
  background: linear-gradient(to right, #fefefe 0%, #e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
}

.b-top {
  border-top: 0.175rem solid #0b2d84;
}

.gallery--thumbnails {
  margin: 2rem 0 5rem;
}

.gallery--thumbnails .container {
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
}

.gallery--thumbnails .container .nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #f90101;
}

.gallery--thumbnails .container .nav.left {
  left: 16px;
}

.gallery--thumbnails .container .nav.right {
  right: 16px;
}

.gallery__thumbnail > div a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
}

.gallery__thumbnail > div a span {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.gallery__thumbnail > div a:after {
  padding-top: 56.25%;
  display: block;
  width: 100%;
  content: "";
}

.gallery__thumbnail > div a:hover {
  opacity: 0.9;
}

.faqs button {
  color: #0b2d84;
  padding: 0;
  font-weight: 700;
}

.faqs .btn-link:hover {
  text-decoration: none;
  color: #606060;
}

body {
  background: #e7e7e7;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container--oversize {
    max-width: 1300px;
  }
}
/*# sourceMappingURL=global.css.map */