@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,700&display=swap');
@import "scss/__variables";
@import "scss/__mixins";
@import "scss/__typography";
@import "scss/__header";
@import "scss/__footer";
@import "scss/__layouts";
@import "scss/__gallery";
@import "scss/__faqs";

body {
    background:$ics-grey;
    overflow-x:hidden;
}

@media (min-width: 1200px) {
    .container--oversize {
        max-width:1300px;
    }
}